.navigate::before{
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: -7%;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: 38px;
    background-color: white;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.navigate-txt{
    left: 24px;
    transition: left 0.2s ease-in-out;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
}
.navigate-box:hover .navigate-txt ,.navigate-box:focus .navigate-txt {
    left: 50px;
    opacity: 100%;
}
.navigate:hover::before , .navigate:focus::before { 
    width: 68px;
}

.cells-row div:hover i ,.cells-row div:hover img {
    scale: 87%;
    right: 25%;
}

.cells-row div:hover p{
    opacity: 100%;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 90%;
    background: #e5e7eb;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.main-his-box:nth-child(even) {
    left: 50vw;
}
.main-his-box:nth-child(odd) {
    right: 50vw;
}

.main-his-box{
    position: relative;
    opacity: 0;
    background-position: center;
    background-size: cover;
    border-image-source: linear-gradient(45deg, rgba(0, 238, 255, 0.7), rgba(174, 0, 255, 0.7)) ;
    border-image-slice: 1;
    animation: borderAnimation 12s infinite linear;
    -webkit-animation: borderAnimation 12s infinite linear;
}
.box2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342) , rgba(0, 0, 0, 0.555)), url(/imgs/ecommerce.png);
}
.box1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342) , rgba(0, 0, 0, 0.555)), url(/imgs/protofolio.png);
}
.box3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342) , rgba(0, 0, 0, 0.555)), url(/imgs/gameapi.png);
}
.box4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342) , rgba(0, 0, 0, 0.555)), url(/imgs/weather.png);
}
.box5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342) , rgba(0, 0, 0, 0.555)), url(/imgs/login.png);
}
.box6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342) , rgba(0, 0, 0, 0.555)), url(/imgs/devfolio.png);
}
.box7{
    background-image: linear-gradient(rgba(0, 0, 0, 0.342) , rgba(0, 0, 0, 0.555)), url(/imgs/daniels.png);
}
@keyframes borderAnimation {
    0% {
      border-image-source: linear-gradient(0deg, rgba(0, 238, 255, 0.7), rgba(174, 0, 255, 0.7));
    }
    50% {
      border-image-source: linear-gradient(180deg, rgba(0, 238, 255, 0.7), rgba(174, 0, 255, 0.7));
    }
    100% {
      border-image-source: linear-gradient(360deg, rgba(0, 238, 255, 0.7), rgba(174, 0, 255, 0.7));
    }
  }