.navigate::before{
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: -7%;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    height: 2px;
    width: 38px;
    background-color: white;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.navigate-txt{
    left: 24px;
    transition: left 0.2s ease-in-out;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
}
.navigate-box:hover .navigate-txt ,.navigate-box:focus .navigate-txt {
    left: 50px;
    opacity: 100%;
}
.navigate:hover::before , .navigate:focus::before { 
    width: 74px;
}

.cells-row div:hover i ,.cells-row div:hover img {
    scale: 87%;
    right: 25%;
}

.cells-row div:hover p{
    opacity: 100%;
}